/* Card.css */

.card-container {
  display: flex;
  justify-content: space-around;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    height: 60vh;
    margin: 20vh;
    padding: 30px 80px;
    /*border: solid black;*/
  
}

.card-content {
  padding: 5px;
}

.card-title {
  text-align: center;
  margin-top: 0;
  font-size: 25px;
  
}

.card-text {
  color: #333;
  font-size: 10px;
  text-align: center;
  padding: 5px ;
}

/* Card.css */

/* ...other styles... */

button.btn {
  margin-top: 10px; 
  margin-left: 50px;
  width: 150px; 
  height: 30px; 
  font-size: 14px;
  align-self: center; 
  background-color: grey; 
}
